.Main{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap:80px;
}
.Image{
  border-radius: 10px;
}
.Image:hover{
  cursor: pointer;
  box-shadow:5px 10px 18px #fff;
}
.searchbox{
  width: 80%;
  min-height: 5vh;
  text-align: center;
  border-radius: 10px;
  font-size: 30px;
  text-transform: capitalize;
}
